GOOGLE_CONTACTS_CLIENT_ID=222321536192-0k77qtkvrispu9o71a51st28iomm0i5c.apps.googleusercontent.com
GOOGLE_CONTACTS_CLIENT_SECRET=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
##THOSE ARE THE CONSOLE APP KEYS, NOT DANGEROUS FOR THE USER PRIVACY.